extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Dan Burgess

        p.lead.text-light
          | Full Stack JavaScript Developer In Training.

        .portfolio-bio
          p
            | Hire me. Please?
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li Javascript
          li Express
          li Promises
          li Node
          li npm
          li pug templates
        h6 Contact Info

        ul
          li 555-555-1234
          li email@email.com

        a.button.expanded(href='https://www.linkedin.com/in/dan-burgess-richmond-va') LinkedIn
        a.button.expanded(href='https://github.com/dpburgess') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  